# CODING CHALLENGE

Data:
Music reviews of independent music collected from 1995 to 1999.


Questions:
    1. Count the number of reviews by genre
    2. Count the number of reviews per genre per year
    3. Quartile of the distribution of the number of genres per review
    4. Evaluate the mean and standard deviation of each genre's score
    5. Find the review id with the highest number of words in the content for the label 'drag city
    6. Find the most used word in the content for the label 'drag city
    7. How many content of the artist "neil young" contain the word "who"
    8. Find the artist with the most reviews each year
    9. Modify the artist column of the artists table by adding a capital letter to the first letter. 
    10. Build a function that returns the Top 10 artists for one or more genres  
        - def get_top_10(genres_list)
        - return Top 10
    11. Build a function that returns statistics for an artist
        - def get_artist_info(name)
        - return a DataFrame with the following information
            - Number of reviews
            - The genre with the most reviews
            - The label with the most reviews
            - The average score
            - The number of 'best_new_music' reviews
            - The most recent reviewid
            

You can use the method (SQL/Pandas) of your choice to answer the questions.  
The questions can be answered independently. 

Translated with www.DeepL.com/Translator (free version)

In [1]:
import sqlite3 as sql
import pandas as pd
import statistics
import numpy as np

In [2]:
db = sql.connect('database.sqlite')

In [3]:
tables = db.cursor() 
tables.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
print(tables.fetchall())

[('artists',), ('content',), ('genres',), ('labels',), ('reviews',), ('years',)]

In [4]:

query = db.execute("SELECT * From artists")
cols = [column[0] for column in query.description]
artists= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

query = db.execute("SELECT * From content")
cols = [column[0] for column in query.description]
content= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

query = db.execute("SELECT * From genres")
cols = [column[0] for column in query.description]
genres= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

query = db.execute("SELECT * From labels")
cols = [column[0] for column in query.description]
labels= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

query = db.execute("SELECT * From reviews")
cols = [column[0] for column in query.description]
reviews= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

query = db.execute("SELECT * From years")
cols = [column[0] for column in query.description]
years= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

years

       reviewid    year
0         22703  1998.0
1         22721  2016.0
2         22659  2016.0
3         22661  2016.0
4         22725  2016.0
...         ...     ...
19103      1535     NaN
19104      1341     NaN
19105      5376     NaN
19106      2413  1999.0
19107      3723     NaN

[19108 rows x 2 columns]

In [5]:
#task1
#genres.groupby("genre").count()

In [6]:
#Task 1
task1 = pd.merge(genres,reviews, on='reviewid',how='inner').groupby(['genre'])['reviewid'].count()
task1

genre
electronic      3874
experimental    1815
folk/country     685
global           219
jazz             435
metal            862
pop/r&b         1432
rap             1559
rock            9438
Name: reviewid, dtype: int64

In [7]:
#task2
task2 = pd.merge(years,pd.merge(genres,reviews, on='reviewid',how='inner'), on='reviewid',how='inner').groupby(['year','genre']).size()

task2

year    genre
1959.0  global            1
1960.0  jazz              2
1962.0  folk/country      1
        jazz              1
        pop/r&b           1
                       ...
2016.0  metal            56
        pop/r&b         121
        rap             179
        rock            399
2017.0  experimental      1
Length: 346, dtype: int64

In [8]:

#taks4
#Evaluate the mean 


df  =genres.groupby("genre")["reviewid"].count().reset_index(name="count")
df
Evaluate = statistics.pvariance(df["count"])
print (Evaluate)

b=np.std(df["count"])  
b

7491111.111111111

2736.989424734979

In [9]:
#taks 5
#he = labels[labels["label"].str.contains("drag city")]
he =labels.loc[labels['label'].str.contains("drag city", case=False)== True]

he["label"].str.len().max()
df_col_len = int(he["label"].astype(bytes).str.len().max())
hml = he[he["label"].astype(bytes).str.len()==df_col_len]
hml["reviewid"]
#he.str.contains('drag city',case=True, regex=True)

5701    17041
Name: reviewid, dtype: int64

In [10]:
#task6
he =labels.loc[labels['label'].str.contains("drag city", case=False)== True]
he["label"].str.len().max()
df_col_len = int(he["label"].astype(bytes).str.len().max())
hml = he[he["label"].astype(bytes).str.len()==df_col_len]
hml["label"]

5701    drag city / sun ark
Name: label, dtype: object

In [11]:
tables5 = db.cursor() 
tables5.execute("select * from labels where length(label) =(select max (length(label))rrr from labels where label like '%drag city%') and label like '%drag city%'")
print(tables5.fetchall())

[(17041, 'drag city / sun ark')]

In [12]:
tables7 = db.cursor() 
tables7.execute("select count(1) content from artists a inner join  content b on a.reviewid = b.reviewid where content like '%who%' and a.artist = 'neil young'")
print(tables7.fetchall())

[(15,)]

In [13]:
#task7
artistsNeil = artists.loc[artists['artist']=="neil young"]
contentWho = content.loc[content['content'].str.contains("who", case=False)== True]
ts7 = pd.merge(artistsNeil, contentWho, on="reviewid")
ts7.count()

reviewid    15
artist      15
content     15
dtype: int64

In [14]:
#taks 8
reviews.groupby("pub_year").size().reset_index(name='counts')

    pub_year  counts
0       1999     223
1       2000     348
2       2001     456
3       2002     923
4       2003    1060
5       2004    1121
6       2005    1186
7       2006    1189
8       2007    1216
9       2008    1201
10      2009    1171
11      2010    1170
12      2011    1165
13      2012    1185
14      2013    1200
15      2014    1162
16      2015    1135
17      2016    1265
18      2017      17

In [15]:
#task9
#artists['artist'].title()
artists['artist'] = artists['artist'].str.title()
artists

       reviewid          artist
0         22703  Massive Attack
1         22721        Krallice
2         22659    Uranium Club
3         22661         Kleenex
4         22661         Liliput
...         ...             ...
18826      1535         Coldcut
18827      1341         Cassius
18828      5376        Mojave 3
18829      2413   Don Caballero
18830      3723  Neil Hamburger

[18831 rows x 2 columns]

In [16]:
#task 10
def get_top_10(genres_list):
        ts10 = pd.merge(artists, genres, on="reviewid")
        ts10l= ts10[ts10['genre'].isin(genres_list)]

        ts10g =ts10l.groupby(["artist", "genre"]).size().reset_index(name='counts')
        ts10s = ts10g.sort_values('counts',ascending = False).head(10)
        return ts10s

In [17]:
listgen = ['rock']
get_top_10(listgen)

                 artist genre  counts
2213         Neil Young  rock      23
1302   Guided By Voices  rock      23
3099        The Beatles  rock      21
760         David Bowie  rock      21
2297        Of Montreal  rock      20
2122             Mogwai  rock      20
2628     Robert Pollard  rock      19
3218           The Fall  rock      18
166   Animal Collective  rock      18
3901            Xiu Xiu  rock      18

## Task 11
11. Build a function that returns statistics for an artist - def get_artist_info(name) - return a DataFrame with the following information - Number of reviews - The genre with the most reviews - The label with the most reviews - The average score - The number of 'best_new_music' reviews - The most recent reviewid

In [18]:
def get_artist_info(name):
    demo_df = pd.DataFrame(columns=['name','Num_of_reviews','genre_most_reviews','label_most_reviews','average_score','num_best_reviews','most_recent_reviewid'])
    try:
        demo_df['name'] = [name]
        demo_df['Num_of_reviews'] = reviews[reviews['artist'] == name.lower()].value_counts().count()
        demo_df['genre_most_reviews'] =  pd.merge(genres,reviews[reviews['artist'] == name.lower()]['reviewid'], on='reviewid',how='inner')['genre'].mode().to_list()[0]
        demo_df['label_most_reviews'] = pd.merge(labels,reviews[reviews['artist'] == name.lower()]['reviewid'], on='reviewid',how='inner')['label'].mode().to_list()[0]
        demo_df['average_score'] = reviews[reviews['artist'] == name.lower()]['score'].mean()
        demo_df['num_best_reviews'] = reviews[(reviews['artist'] == name.lower()) & (reviews['best_new_music'] == 1 )]['best_new_music'].count()
        demo_df['most_recent_reviewid'] = reviews[(reviews['artist'] == name.lower())]['reviewid'].max()
    except:
        return 'artist not found'
    return demo_df

In [19]:
get_artist_info('Neil Young')

,name,Num_of_reviews,genre_most_reviews,label_most_reviews,average_score,num_best_reviews,most_recent_reviewid
0,Neil Young,17,rock,reprise,7.168421,2,22654