In [4]:
#creating list of games
games = ["COD","VALORANT","NFS","GTA",2229]
print(games)

['COD', 'VALORANT', 'NFS', 'GTA', 2229]

In [5]:
#checking length of list
len(games)

5

In [6]:
#grabbing the value using index of list
games[2]

'NFS'

In [7]:
#slicing the list
games[1:3]

['VALORANT', 'NFS']

In [18]:
#adding items to the same list

games=games+["RDR2"]
print(games)

['COD', 'VALORANT', 'NFS', 'GTA', 2229, 'asdas', 'asdas', 'RDR2', 'RDR2', 'RDR2', 'RDR2']

In [16]:
#adding items to the new list
new_games=games+["VCOP2","DEVOUR"]
print(new_games)

['COD', 'VALORANT', 'NFS', 'GTA', 2229, 'asdas', 'asdas', 'RDR2', 'RDR2', 'VCOP2', 'DEVOUR']

In [19]:
#double the list
games*2

['COD',
 'VALORANT',
 'NFS',
 'GTA',
 2229,
 'asdas',
 'asdas',
 'RDR2',
 'RDR2',
 'RDR2',
 'RDR2',
 'COD',
 'VALORANT',
 'NFS',
 'GTA',
 2229,
 'asdas',
 'asdas',
 'RDR2',
 'RDR2',
 'RDR2',
 'RDR2']

In [39]:
#sorting in list
listnum=[1,2,3,4]
listnum.sort(reverse=True)
print(listnum)

[4, 3, 2, 1]

In [31]:
#Append the value at end of your list
listnum.append(5)
print(listnum)

[1, 2, 3, 4, 5]

In [40]:
#deleting value from list

#pop - to delete last value from list

listnum.pop()
print(listnum)

#remove - to delete selected value 

listnum.remove(2)
print(listnum)

#del - to delete first value from list

del(listnum[1])
print(listnum)

[4, 3, 2]
[4, 3]
[4]

In [42]:
#inserting values in the list
insertion_list=[1,2,3,4,5]
insertion_list.insert(1,1.1)
print(insertion_list)

[1, 1.1, 2, 3, 4, 5]

In [47]:
#matrix - multiple lists
L1=[1,2,3]
L2=[4,5,6]
L3=[7,8,9]

matrix=[L1,L2,L3]
print(matrix)

#to print certain index value
print(matrix[1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]

In [54]:
#creating dictionaries
dict1={'key1':'value1','key2':'value2'}
dict2={1:'chai',2:'coffee'}
dict3={1:['chai','pani'],2:'coffee'}

print(dict2)
dict3[1][0]

{1: 'chai', 2: 'coffee'}

'chai'

In [55]:
#checking type of dictionaries
type(dict3[1][0])

str

In [63]:
#nested dictionaries
nestdict={1:{1.1:['a','b','c'],3.2:[1,2,3]},4:['x','y','z']}

print(nestdict)
nestdict[1][1.1][1]

{1: {1.1: ['a', 'b', 'c'], 3.2: [1, 2, 3]}, 4: ['x', 'y', 'z']}

'b'

In [66]:
#tuple - constant values that cannot be changed
T1=('ab','bc','cd')

print(T1)

('ab', 'bc', 'cd')

In [71]:
#sets  - uniqely defined elements
S1={1,2,3}
print(S1)

{1, 2, 3}